<!DOCTYPE html>
<html lang="en">
<head>
    <!-- MyCss -->
    <link rel="stylesheet" href="css/style.css">
    <!-- API axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email.gen</title>
</head>
<body>

    <div id="app">
        <div class="email-container" v-if="genEmail.length < 11">
            <ul class="mailgen" v-for="email in genEmail" > {{ email }}  </ul>
        </div>
    </div>
    

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- MyJS -->
    <script src="js/main.js"></script>
    
</body>
</html>